<!DOCTYPE html>
<html lang="sk">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<!-- BOOTSTRAP CSS -->
		<link
			rel="stylesheet"
			href="../assets/css/bootstrap.min.css" />
		<!-- GLOBAL CSS -->
		<link
			rel="stylesheet"
			href="../assets/css/global.css" />
		<!-- INDEX CSS -->
		<link
			rel="stylesheet"
			href="../assets/css/index.css" />
		<!-- BOOTSTRAP JS -->
		<script
			defer
			src="../assets/js/bootstrap.min.js"></script>
		<title>The Geczik Game / Domov</title>
	</head>
	<body>
		<nav
			class="navbar navbar-expand-lg bg-dark"
			data-bs-theme="dark">
			<div class="container-fluid">
				<a
					target="_blank"
					class="navbar-brand"
					href="#"
					>Domov</a
				>
				<!-- Hamburger -->
				<button
					class="navbar-toggler bg-secondary"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a
								target="_blank"
								class="nav-link"
								aria-current="page"
								href="#"
								>Výsledky</a
							>
						</li>
						<li class="nav-item">
							<a
								target="_blank"
								class="nav-link"
								href="#"
								>O Webe</a
							>
						</li>
						<li class="nav-item">
							<a
								target="_blank"
								class="nav-link"
								href="#"
								>Prihlásenie</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- MAIN SECTION -->
		<main>
			<video
				autoplay
				muted
				loop>
				<source
					src="../assets/images/IMG_1733.mp4"
					type="video/mp4" />
			</video>
			<!-- Background for Hero section -->
			<div class="main-bg"></div>
			<div class="Hero-content-wrapper">
				<h1>The Geczik Game</h1>
				<a href="#">Continue</a>
			</div>
		</main>
	</body>
</html>
